<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
    <div class="navbar-block">
      <span class="navbar-text">
          User login
      </span>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Log out</button>
    </div>
  </nav>
  <div class="header-text container">
    <h1 class="text-dark">Source</h1>
  </div>
</header>
