<div class="header-text container">
  <h1 class="text-dark">{{title | titlecase}}</h1>
</div>
<div class="container">
  <form
    *ngIf="oneNews"
    (ngSubmit)="onSaveNews()"
    id="news-form"
    [formGroup]="newsForm"
    novalidate
  >
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="exampleFormControlInput1"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput2">Description</label>
      <input
        formControlName="description"
        type="text"
        class="form-control"
        id="exampleFormControlInput2"
        name="exampleFormControlInput2"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput3">Image URL</label>
      <input
        formControlName="urlToImage"
        type="url"
        class="form-control"
        id="exampleFormControlInput3"
        name="exampleFormControlInput3"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput4">Date</label>
      <input
        formControlName="publishedAt"
        type="text"
        class="form-control"
        id="exampleFormControlInput4"
        name="exampleFormControlInput4"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput5">Autor</label>
      <input
        formControlName="autor"
        type="text"
        class="form-control"
        id="exampleFormControlInput5"
        name="exampleFormControlInput5"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput6">Source URL</label>
      <input
        formControlName="url"
        type="url"
        class="form-control"
        id="exampleFormControlInput6"
        name="exampleFormControlInput6"
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea
        formControlName="content"
        class="form-control"
        id="exampleFormControlTextarea1"
        name="exampleFormControlTextarea1"
        rows="5"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      form="news-form"
      [disabled]="newsForm.invalid"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="onGoBack()"
    >
      Cancel
    </button>
  </form>
</div>
